<div class="wrapper d-flex align-items-stretch">
    <app-menu></app-menu>
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="row mt-5">
            <div class="col-xl-6 col-md-5 col-sm-4">
                <div class="image-container">
                    <img class="full-width-image" src="../../../assets/img/bienvenida.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-md-5 col-sm-4">
                <br>
                <br>
                <br>
                <h1 style="font-weight: 700;" class="display-4">Bienvenido</h1><br>
                <h1 style="font-weight: 500;" >Dr. Santiago Cardenas</h1>
                <!-- <h1 style="font-weight: 500;" >{{ Rol }} {{ nombre }}</h1> -->
                <br>
                <br>
                <br>
                <div class="d-flex justify-content-end">
                    <button type="button" style="color:#c00303;"  class="logout-button btn pt-2 pb-2 p-3" routerLink="/">
                        Cerrar Sesión&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-door-closed"></i>
                      </button>
                    </div>
            </div>
        </div>
    </div>
</div>