<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10">
      <div class="card rounded-3 text-black">
        <div class="row g-0">
          <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <div class="text-center">
                    <img
                      src="../../../assets/img/logo1ips.png"
                      style="width: 185px"
                      alt="logo"
                    />
                    <!-- <h4 class="mt-1 mb-5 pb-1">IPS Universitaria de Colombia</h4> -->
                  </div><br>
              <p class="mb-0">
                Por favor ingresa sesión para poder conocer tu reporte medico, y si tienes alguna inquietud no dudes en contactarnos
              </p><br>
              <p class="small text-center">
                Lee nuestros <a href="#" class="underline">terminos</a> and <a href="#" class="underline">condiciones</a>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-body p-md-5 mx-md-4">
              
              <form>
                <p>Por favor ingresa tus datos</p>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Usuario</label>
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Phone number or email address" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Contraseña</label>
                    <input type="password" id="form2Example22" class="form-control" />
                  </div>

                <div class="text-center pt-1 mb-5 pb-1">
                  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">
                    Iniciar Sesión
                  </button><br>
                  <a class="text-muted" href="#!">¿Has olvidad tu contraseña?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
